body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    overflow-x: hidden;
}

.nav-links {
    display: flex; /* Hide by default */
}

.toggle-button {
    cursor: pointer;
}

.header-container {
    display: flex;
    align-items: left;
    padding: 0.5%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: rgb(0, 0, 0);
    width: 100%;
}

.header-container .logo {
    width: 175px; 
    height: auto;
    margin-right: 10px; 
}

.header-container .title {
    font-size: 1.5em;
}

.hidden {
    display: none;
}

.expanded {
    display: block; /* Or other styles for when expanded */
}

.options-container {
    display: flex; /* Flex for alignment */
    justify-content: flex-start; /* Aligns items to the left */
    align-items: center;
    padding: 16px;
    background-color: rgb(140, 29, 64);
    position: fixed; /* Use sticky to stick to the top of its parent container */
    z-index: 20;
    gap: 2%; /* Adds space between items */
    width: 100%;
    top: 50px;
}

.options-container a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1em;
    text-align: center;
    transition: all 200ms ease;
    transform-origin: center; /* Keeps the text centered */
}

.home-button img {
    width: 40px; /* Adjust the size of the home button image */
}

.options-container .nav-links {
    vertical-align: center;
}

.options-container a:hover {
    color: #fff;
    font-weight: bold;
    transform: scale(1.1); 
    text-shadow: 0 0 0.1em #000; /* Adds shadow to compensate for bolding */
}

.options-container a.active {
    background-color: rgba(255, 198, 39, 0);
    color: #fff;
    font-weight: bold;
    transform: scale(1.2);
}

.parallax .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    max-width: 3000%;
}

.summary-container h1 {
    text-align: center;
    color: #340d0d;
    font-size: 2.5em;
    margin-bottom: 40px;
    min-width: 100%;
}

.summary-section {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 1%;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 4vh; 
}

.summary-section img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.summary-section .info {
    flex-grow: 1;
}

.summary-section .info h2 {
    margin: 0;
    font-size: 1.5em;
    color: rgb(255,198,39);
    text-align: center;
}

.summary-section .info h2 a {
    text-decoration: none;
    color: rgb(255,198,39);
}

.summary-section .info h2 a:hover {
    text-decoration: underline;
}

.summary-section .info p {
    margin: 5px 0 0;
    margin-left: 10px;
    color: #fff;
}

.summary-section .icon {
    width: 48px; /* Increased icon size */
    height: 48px;
    margin-right: 15px; /* Adjust margin if needed */
}

.summary-section a:hover {
    text-decoration: underline;
}

.summary-section a {
    color: rgb(255, 198, 39);
    text-decoration: none;
    font-size: 2em; /* Increased font size for better visibility */
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-section h1 {
    margin: 0;
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
}

.home-button {
    position: absolute;
    right: 4%;
    justify-content: right;
}

/* 
.home-button img {
    width: 40px; /* Adjust the size of the home button image */
    /* height: auto; */
    
.summary-container h2, .summary-container h3 {
    text-decoration: none;
    color: rgb(255,198,39);
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Adjust the percentage to make the image bigger or smaller */
    margin-bottom: 50px;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: auto;
}

.team-container, .summary-container {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: #fff; /* White text for contrast */
}

.team-container h1 {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 40px;
}

/* Team Member Container */
.team-member {
    display: flex; /* Create a two-column layout */
    flex-direction: row; /* Horizontal layout for images and info */
    align-items: flex-start; /* Align items at the top */
    margin-bottom: 30px;
    max-width: 100%; /* Set a maximum width for the block */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Image Section */
.image-section {
    flex: 0 0 150px; /* Set the width of the image section */
    display: flex;
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center the images */
    margin-right: 20px; /* Add space between images and info section */
}

.image-section img {
    max-width: 100%; /* Ensure images fit within their container */
    height: auto;
    margin-bottom: 10px; /* Space between the main image and small icon */
    border-radius: 50%; /* Circular main image */
    border-radius: 50%;
}

.image-section .small-icon {
    max-width: 100px; /* Adjust size of the small icon */
    border-radius: 0; /* Ensure the small icon is not circular */
}

/* Info Section */
.team-member .info {
    flex: 1; /* Take up the remaining space */
    text-align: left; /* Align text to the left */
}

/* Name and Title Styling */
.team-member .info h2 {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0; /* Add spacing below the name */
    font-size: 1.5em;
    color: #fff;
}

.team-member .info h2 a {
    text-decoration: none;
    color: rgb(255,198,39);
    margin-right: 10px; /* Space between the name and the icon */
}

.team-member .info h2 a:hover {
    text-decoration: underline;
}

/* Position Small Icon Inside h2 */
.team-member .info h2 .small-icon {
    max-width: 160px; /* Adjust size as needed */
    max-height: 45px;
    margin-left: 10px; /* Add space between the icon and the text */
}

/* Title Styling */
.team-member .info .title {
    margin: 5px 0 0;
    color: #fff;
    text-align: left; /* Align title to the left */
}

/* Additional Text Styling */
.team-member .info p {
    color: #fff;
    margin-top: 10px;
}

.icon {
  display: inline-flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(140, 29, 64); 
    min-width: 160px;
    z-index: 1;
    top: 105%; /* Positions the dropdown right below the options container */
    left: 0%;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

html {
    scroll-padding-top: 30vh; /* Adjust this value to match the height of your header */
}

/* Hide the toggle button and show navigation on larger screens */
@media (min-width: 999px) {
    .toggle-button {
        display: none;
    }
}

/* Adjust styles for smaller screens */
@media (max-width: 998px) {
    .nav-links {
        display: flex; /* Display the navigation links */
        flex-direction: column; /* Arrange items vertically */
        width: 100%;
        background-color: rgb(140, 29, 64); /* Ensure background covers the full screen */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%; /* Cover the whole screen */
        z-index: 999; /* Ensure it stays above other content */
        padding: 20px;
        padding-bottom: 60px; /* Add extra padding at the bottom to ensure last item is fully visible */
        overflow-y: auto; /* Allow scrolling if the content overflows */
        transform: translateX(-100%); /* Initially hidden off-screen */
        transition: transform 0.5s ease; /* Smooth transition for slide-in effect */
    }

    /* Show the navigation links when 'active' class is added */
    .nav-links.active {
        transform: translateX(0); /* Slide in from the left */
    }

    /* Individual navigation links styling */
    .nav-links a {
        padding: 15px 20px;
        text-align: left; /* Align text to the left */
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Add separation between links */
        font-size: 1.1em; /* Standard font size for main options */
    }
    
    .dropdown-content {
        position: static;
        display: block; /* Keep dropdown content always visible */
    }

    .dropdown-content a {
        padding-left: 40px; /* Indent dropdown links to the right */
        font-size: 0.8em; /* Make dropdown links slightly smaller */
        color: #f0f0f0; /* Slightly lighter color for distinction */
    }

    .toggle-button {
        position: fixed; /* Ensure it stays in view */
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5em; /* Adjust as needed for visibility */
        cursor: pointer;
        z-index: 1000; /* Ensure it stays above other content */
        right: 10px; /* Adjust right position */
    }

    .parallax .content {
        font-size: 300%;
        margin: 0 auto; /* Center the content */
        padding: 0 20px; /* Add some padding */
        box-sizing: border-box;
    }

    /* Image Section */
    .image-section {
        flex: 0 0 70px; /* Set the width of the image section */
        display: flex;
        flex-direction: column; /* Stack images vertically */
        align-items: center; /* Center the images */
        margin-right: 20px; /* Add space between images and info section */
    }
    
    .image-section img {
        max-width: 100%; /* Ensure images fit within their container */
        height: auto;
        margin-bottom: 10px; /* Space between the main image and small icon */
        border-radius: 50%; /* Circular main image */
        border-radius: 50%;
    }
    
    .image-section .small-icon {
        max-width: 100px; /* Adjust size of the small icon */
        border-radius: 0; /* Ensure the small icon is not circular */
    }
    
    /* Info Section */
    .team-member .info {
        flex: 1; /* Take up the remaining space */
        text-align: left; /* Align text to the left */
    }
    
    /* Name and Title Styling */
    .team-member .info h2 {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0; /* Add spacing below the name */
        font-size: 1.5em;
        color: #fff;
    }
    
    .team-member .info h2 a {
        text-decoration: none;
        color: rgb(255,198,39);
        margin-right: 10px; /* Space between the name and the icon */
    }
    
    .team-member .info h2 a:hover {
        text-decoration: underline;
    }

    .summary-container {
        padding: 20px;
    }

    .summary-section {
        padding: 15px; /* Adjust this value as needed */
    }
}

